@import "tailwindcss";


html {

    font-family:'Orbitron', sans-serif;
    scroll-behavior: smooth;
    

}

:root {

    --primary : hsl(190 ,95%,50%);
    --secondary: hsl(280 90% 60%);

}

body {
    height: 100vh;
    background-color: rgb(27, 26, 26);
}

img {
    max-width: 100%;
}





/* Glow effect personalizzato per Tailwind */
.text-glow-cyan-purple {
  text-shadow: 
    0 0 30px rgba(252, 252, 252, 0.8),   
    0 0 40px rgb(168 85 247 / 0.6),  
    0 0 60px rgb(6 182 212 / 0.4),   
    0 0 80px rgb(168 85 247 / 0.3);  
}


.primary-button-shadow:hover {
  box-shadow: 
    0 0 10px var(--primary),   
    0 0 20px var(--primary);  
 
}

.secondary-button-shadow:hover {
  box-shadow: 
    0 0 10px var(--primary);  
 
}

.card-shadow:hover {
    box-shadow: 0 0 20px var(--primary);
}

/* Animazioni floating per gli effetti glow */
@keyframes float {
  0%, 100% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.05);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}


@layer utilities {

  .primary-button {
    @apply text-black font-bold px-4 py-2 bg-(--primary)/90 z-20 rounded-lg cursor-pointer  transition-all duration-200 
  }

  .secondary-button {
    @apply text-white z-20 font-bold bg-black/50 px-4 py-2 rounded-lg border border-(--primary)  hover:bg-(--primary)/10 cursor-pointer transition-all duration-200 
  }

}
