@import "tailwindcss";


.background {

    background: url('/images/hero-gaming.jpg');
    background-position: center;
    background-size: cover;

}



@layer utilities {

    /*Hero Section*/
    .title-subtitle-container {

        @apply relative z-20 flex flex-col items-center max-sm:max-w-[90%] max-sm:mx-auto
    }

    .title-subtitle-container h1 {
        @apply text-center text-5xl font-bold bg-linear-to-r from-cyan-400 to-purple-500 bg-clip-text text-transparent md:text-8xl
    }

    .title-subtitle-container p {
        @apply text-xl text-center text-gray-400 max-w-2xl mx-auto
    }

    .hero-scroll-indicator {
        @apply size-8 text-cyan-400 absolute bottom-8 left-1/2 transform -translate-x-1/2 animate-bounce z-20
    }
    /*Fine Hero Section*/

    /*Game Preview Section*/
    .gamepreview-title-container {
        @apply bg-clip-text bg-linear-to-r from-(--primary) to-(--secondary) z-10 
    }

    .gamepreview-title {
        @apply text-transparent text-6xl font-bold text-center z-10
    }

    .preview-grid-layout {
        @apply mt-10 max-w-[95%] mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3
    }
    /*Fine Game Preview Section*/

}